.vscode/
__pycache__/

clean_models/
troj_models/

data/data/
data/__pycache__/
data/cifar-10-batches-py/
data/cifar-10-python.tar.gz
data/gtsrb/

data/attack/
data/defense/
data/image/
data/model/

notebook/

script/__pycache__/

log/
tmp/
runs/

execute_missing_experiments.sh

